<h2 class="user-header"><%= @user.username %>
  <% if @user == @current_user %>
    <%= link_to "Edit Profile", edit_user_path %>
  <% end %>
</h2>

 <div class="profile">
  <img class ="profile-pic" src="<%= @user.upload_pic %>" alt="No Pic" />

  <div>Member since <%= @user.join_date %></div>
  <span id="ward">
  <% if @user.dc_voter == "Yes" %>
    <div>Ward <%= @user.ward %> Voter</div>
  <% else %>
    <div>Not a DC Voter</div>
  <% end %>
  </span>
  <div id="fullname">Name: <%= @user.full_name.split.map(&:capitalize).join(' ') %></div>
  <div id="email">E-mail: <%= @user.email %></div>
  <div id="job">Job: <%= @user.occupation_type %></div>
  <div id="age">Age: <%= @user.age %></div>
  <div id="zip">Zip Code: <%= @user.zip %></div>

  <div class="tags">Interests: <%= raw @user.tags.map{ |t| link_to t.name, tag_path(t)}.join(', ') %></div>
</div>

<div class="posts">
  <h2>Posts
  <% if @user == @current_user %>
    <%= link_to "(Add New Post)", new_post_path %>
  <% end %>
  </h2>
  <ul>
    <% @posts.each do |post| %>
      <div class="each">
        <li>
        <h3><%= link_to "#{post.title}", post %></h3>
          <span><%= post.timestamp %></span>
          <span class="summary"><%= raw(post.summary) %></span>
          <%= link_to "Go To Full Post...", post %>
        </li>
      </div>
    <% end %>
  </ul>
</div>
