<div class="blogsections">View by Section:
  <a href="/posts?section=Issues">Issues</a>
  <a href="/posts?section=Elections">Elections</a>
  <a href="/posts?section=Government">Government</a>
  <a href="/posts?section=DC">DC</a>
</div>

<h2>Recent Posts</h2>

<div class="post">
<% @posts.each do |post| %>
    <div class="post-each">
    <h3><%= link_to "#{post.title}", post %></h3>
      <span class="post-user">Posted by <%= post.user.username %></span>
      <span><%= post.timestamp %></span>

      <span class="summary"><%= post.summary %></span>
      <%= link_to "Go To Full Post...", post %>

    <div class="post-edit-delete">
      <%= link_to "Edit", edit_post_path(post) %></div>
    </div>
<% end %>
</div>
