<div class="blogsections">View by Section:
  <%= link_to "All", posts_path %>
  <a href="/posts?section=Issues">Issues</a>
  <a href="/posts?section=Elections">Elections</a>
  <a href="/posts?section=Government">Government</a>
  <a href="/posts?section=DC">DC</a>
</div>

<h3><% if session[:user] %>
  <%= link_to "Add New Post", new_post_path %>
<% end %></h3>

<ul class="posts">
<h2>Recent Posts</h2>
  <% @posts.each do |post| %>
    <div class="each">
      <li>
        <h3><%= link_to "#{post.title}", post %></h3>
        <span class="summary"><%= raw(post.summary) %></span>
        <%= link_to "Go To Full Post...", post %>
        <div class="post-user">Posted by <%= post.user.username %> on <%= post.timestamp %></div>
          <% if @user == @current_user %>
            <%= link_to "Edit", edit_post_path(post) %>
          <% end %>
      </li>
    </div>
  <% end %>
</ul>
