<h2 class="title-header"><%= @post.title %> </h2>

<div class="post">
  <div class="post-header">
    <span class="post-user">Posted by&nbsp;<%= link_to "#{@user.username}", @user %></span>
    <span>on <%= @post.timestamp %></span>
  <% if @user == @current_user %>
  <div class="edit">
    <%= link_to "Edit", edit_post_path %></div>
  <% end %>
  </div>

  <div class="postcontent">
    <span id="summary"><%= raw(@post.summary) %></span>
    <span id="postbody"><%= raw(@post.body) %></span>
  </div>

  <div class="section">Filed Under: <%= @post.section %></div>
  <div class="tags">Tags: <%= raw @post.tags.map{ |t| link_to t.name, tag_path(t)}.join(', ') %></div>
</div>

<div class="comments">
  <h3>Comments
  <% if session[:user] %>
    <%= link_to "(Add New Comment)", new_post_comment_path(@post) %>
  <% end %></h3>
  <ul>
    <% @post.comments.each do |comment| %>
    <div class="each">
      <li>
        <div><%= link_to "#{comment.title}", post_comment_path(@post, comment) %></div>
        <div>Posted by <%= link_to "#{comment.user.username}", user_path(comment.user) %> 
        <div><%= raw(comment.body) %></div>
      </li>
    <% end %>
    </div>
  </ul>
</div>
