<!DOCTYPE html>
<html>
<head>
  <title>DCFuture Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="template">
    <header>
      <!-- Logo Image -->
      <div class ="logo-container">
        <a href="http://dcfuture.com">
          <%= image_tag "http://dcfuture.com/wp-content/uploads/2014/03/DCFutureLogo1.png", alt: "DCFuture logo", class: "logo" %>
        </a>
      </div>

      <nav class="main-nav">
        <ul>
          <li><%= link_to "About DCFuture", "http://dcfuture.com/about" %></li>
          <li><%= link_to "Events", "http://dcfuture.com/events/" %></li>
          <li><%= link_to "Links", "http://dcfuture.com/links/" %></li>
          <li><%= link_to "Contact", "http://dcfuture.com/contact/" %></li>
          <li>
            <a href="https://www.facebook.com/pages/DC-Future/1412989265627187" target="_blank">
              <img src="http://dcfuture.com/wp-content/themes/mineral/images/icons/facebook.png" alt="", size="200px">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/DC_Future" target="_blank">
              <img src="http://dcfuture.com/wp-content/themes/mineral/images/icons/twitter.png" alt="">
            </a>
          </li>
        </ul>
      </nav>
    </header>
  </div> <!-- Closes "template" -->

  <!-- Blog Side Navigation -->
  <nav class="blog-nav">
    <ul>
      <% if session[:user] %>
        <li><a href="/sign_out"><%= session[:user]["username"] %>: Sign Out</a></li>
        <li><a href="/profile">My Profile</a></li>
      <% else %>
        <li><a href="/sign_up">Sign Up</a></li>
        <li><a href="/sign_in">Sign In</a></li>
      <% end %>
    </ul>
    
    <ul>
      <li><%= link_to "Blog Home", root_url %></li>
      <li><%= link_to "Members", users_path %></li>
      <li><%= link_to "Posts", posts_path %></li>
      <li><%= link_to "Create New Post", new_post_path %></li>
      <li><%= link_to "Tags", tags_path %></li>
    </ul>
  </nav>

  <h2><%= flash[:notice] %></h2>

  <main class="content">
    <%= yield %>
  </main>
</body>
</html>
